.formulario {
    border-right: 1px solid $gray;
    padding-right: 60px;
}
/* Style inputs with type="text", select elements and textareas */

input[type=email],
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 10px;
    /* Some padding */
    border: 1px solid #b8b8b8;
    /* Gray border */
    border-radius: 2px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 5px;
    /* Add a top margin */
    margin-bottom: 20px;
    /* Allow the user to vertically resize the textarea (not horizontally) */
    /* Bottom margin */
    resize: vertical;
}
/* Style the submit button with a specific background color etc */

input[type=submit] {
    background-color: $theme-primary;
    color: white;
    padding: 10px 20px;
    border: none;
    width: 100%;
    border-radius: 2px;
    cursor: pointer;
    border: 2px solid $theme-primary;
}
/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
    background-color: white;
    border: 2px solid $theme-primary;
    color: $theme-primary;
}

.help-block {
    color: $danger;
    font-size: 11px;
}

input.has-error,
textarea.has-error {
    border-color: $danger;
}
@media (max-width: 990px) {
    .formulario {
        border-right: none;
        padding-right: 0;
    }
}
