.sprite
	background-image: url(../images/parceiros/parceiros_lemaf.png)
	background-repeat: no-repeat
	display: block


.sprite-adaptworks
	width: 289px
	height: 150px
	background-position: -5px -5px


.sprite-agenciaRegiaoMetropolitana
	width: 289px
	height: 150px
	background-position: -304px -5px


.sprite-biodiversitas
	width: 289px
	height: 150px
	background-position: -603px -5px


.sprite-caelum
	width: 289px
	height: 150px
	background-position: -902px -5px


.sprite-cemig
	width: 289px
	height: 150px
	background-position: -5px -165px


.sprite-daxtra
	width: 289px
	height: 150px
	background-position: -304px -165px


.sprite-feam
	width: 289px
	height: 150px
	background-position: -603px -165px


.sprite-fip
	width: 289px
	height: 150px
	background-position: -902px -165px


.sprite-gevernoRondonia
	width: 289px
	height: 150px
	background-position: -5px -325px


.sprite-google
	width: 289px
	height: 150px
	background-position: -304px -325px


.sprite-governoAcre
	width: 289px
	height: 150px
	background-position: -603px -325px


.sprite-governoDoPara
	width: 289px
	height: 150px
	background-position: -902px -325px


.sprite-governoEspiritoSanto
	width: 289px
	height: 150px
	background-position: -5px -485px


.sprite-governoMatoGrosso
	width: 289px
	height: 150px
	background-position: -304px -485px


.sprite-governoMinasGerais
	width: 289px
	height: 150px
	background-position: -603px -485px


.sprite-governoParana
	width: 289px
	height: 150px
	background-position: -902px -485px


.sprite-governoRioGrandeSul
	width: 289px
	height: 150px
	background-position: -5px -645px


.sprite-governoTocantins
	width: 289px
	height: 150px
	background-position: -304px -645px


.sprite-gt4w
	width: 289px
	height: 150px
	background-position: -603px -645px


.sprite-iap
	width: 289px
	height: 150px
	background-position: -902px -645px


.sprite-ibama
	width: 289px
	height: 150px
	background-position: -5px -805px


.sprite-ief
	width: 289px
	height: 150px
	background-position: -304px -805px


.sprite-iema
	width: 289px
	height: 150px
	background-position: -603px -805px


.sprite-igam
	width: 289px
	height: 150px
	background-position: -902px -805px


.sprite-imagem
	width: 289px
	height: 150px
	background-position: -5px -965px


.sprite-incra
	width: 289px
	height: 150px
	background-position: -304px -965px


.sprite-ministerioMeioAmbiente
	width: 289px
	height: 150px
	background-position: -603px -965px


.sprite-prefeituraBeloHorizonte
	width: 289px
	height: 150px
	background-position: -902px -965px


.sprite-programaMunicipiosVerdes
	width: 289px
	height: 150px
	background-position: -1201px -5px


.sprite-senar
	width: 289px
	height: 150px
	background-position: -1201px -165px


.sprite-sfb
	width: 289px
	height: 150px
	background-position: -1201px -325px

.owl-nav
	display: flex
	justify-content: space-between
	margin-top: -100px

.owl-prev
	color: transparent
	width: 50px
	height: 50px
	position: relative
	border-radius: 5px
	background: url(../images/chevron-left.png) no-repeat center
	background-size: cover
	opacity: .5

.owl-prev:hover
	opacity: .6



.owl-next
	color: transparent
	width: 50px
	height: 50px
	border-radius: 5px
	background: url(../images/chevron-right.png)  no-repeat center
	background-size: cover
	opacity: .5

.owl-next:hover
	opacity: .6

