// Styling for the services section
.service-box {
  max-width: 400px;
  margin: 50px auto 0;
<<<<<<< HEAD
  h5{
    padding: 20px 0 5px 0;
  }
=======
>>>>>>> parent of 0f6debe... homolog
  @media (min-width: 992px) {
    margin: 20px auto 0;
  }
  p {
    margin-bottom: 0;
  }
}
