// Bootstrap overrides for this template
.text-primary {
  color: $theme-primary !important;
}


.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-default {
  @include button-variant($gray-darker, white, white);
}

.btn-primary {
  @include button-variant(white, $theme-primary, $theme-primary);
}

.btn {
  font-weight: 400;
  text-transform: uppercase;
  border: 1px solid transparent;;
  border-radius: 2px;
  @include sans-serif-font;
}

.btn:hover{
  color: $theme-primary;
  border: 1px solid $theme-primary;
  background-color: transparent;
}

.btn-xl {
  margin-top: 20px;
  padding: 10px 50px;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}

.fa-angle-double-down:before {
  content: "\f103";
}
