{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="O LEMAF (Laboratório de Estudo e Pesquisa em Manejo Florestal) tem como foco desenver...">
    <meta name="keywords" content="Software,Web,Mapa,Ambiental,Geoprocessamento,Gestão ">
    <meta name="author" content="LEMAF">

    <title>{% block title %}{{ title }}{% endblock %}</title>

    <link rel="stylesheet" href="stylesheets/app.css">

    {% include "shared/app-icons.html" %}

    {% block head %}{% endblock %}
  </head>
  <body>
    {% include "sections/header.njk" %}
    {% include "sections/masthead.njk" %}
    {% include "sections/services.njk" %}
    {% include "sections/about.njk" %}
    {% include "sections/parceiros.njk" %}
    {% include "sections/portfolio.njk" %}
    {% include "sections/contact.njk" %}
    {% include "sections/footer.njk" %} 
    {% block javascript %}
      <script src="javascripts/app.js"></script>
    {% endblock %}
  </body>
</html>
