<section id="contato" role="article">
  <div class="container">
    <div class="row cabecalho">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Contato</h2>
        <hr class="primary">
        <p>
          Entre em contato com a nossa equipe, envie suas dúvidas, elogios, reclamações e sugestões!
        </p>
      </div>
    </div>
    <div class="row contato">
      <div class="col-lg-6 formulario">
        <form id="formulario_contato" action="/enviar.php" method="post" role="form">
          <div class="d-flex flex-column">
            <label for="nome">Nome:*</label>
            <input type="text" id="nome" name="nome" placeholder="Qual o seu nome?" required>
          </div>
          <div class="d-flex flex-column">
            <label for="email">Email:*</label>
            <input type="email" id="email" name="email" placeholder="Informe seu email aqui" required>
          </div>
          <div class="d-flex flex-column">
            <label for="assunto">Assunto:*</label>
            <input type="text" id="assunto" name="assunto" placeholder="Escolha um assunto para a mensagem" required>
          </div>
          <div class="d-flex flex-column">
            <label for="mensagem">Mensagem:*</label>
            <textarea id="mensagem" name="mensagem" placeholder="Digite sua mensagem aqui..." style="height:100px" required></textarea>
          </div>
          <input class="sr-button" type="submit" value="Enviar" role="button">
        </form>

      </div>
      <div class="col-lg-6 mr-auto dados">
        <p>
          <i class="lnr lnr-map-marker text-primary"></i>
          Universidade Federal de Lavras</p>
        <p>Departamento de Ciências Florestais</p>
        <p>Caixa Postal 3037 • CEP 37200-000 • Lavras - MG</p>
        <p>
          <i class="lnr lnr-phone-handset text-primary"></i>
          (35) 3829-1700</p>
        <p>
          <i class="lnr lnr-envelope text-primary"></i>
          secretaria@lemaf.ufla.br</p>
      </div>
    </div>
  </div>
</section>
