<footer>
  <div class="container">
    <div class="row conteudo">
      <div class="col-md-4 col-sm-1">
        <h2>O Lemaf</h2>
        <div class="row">
          <div class="col-lg-6 d-flex flex-column">
            <a class="js-scroll-trigger" href="#quem_somos">Quem somos nós</a>
            <a class="js-scroll-trigger" href="#servicos">O que o Lemaf faz</a>
            <a class="js-scroll-trigger" href="#parceiros">Parceiros</a>
          </div>
          <div class="col-lg-6 d-flex flex-column">
            <a class="js-scroll-trigger" href="#blog">Blog</a>
            <a class="js-scroll-trigger" href="#contact">Contato</a>
            {# <a href="#carreira">Carreira / Vagas</a> #}
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-1">
        <h2>Links úteis</h2>
        <div class="row">
          <div class="col-lg-12 d-flex flex-column">
            <a href="http://www.ufla.br/portal/" target="_blank">UFLA - Universidade Federal de Lavras</a>
            <a href="http://www.fundecc.org.br/" target="_blank">FUNDECC - Fundação de Desenvolvimento Científico e Cultural</a>
            <a href="http://www.florestal.gov.br/" target="_blank">SFB - Serviço Florestal Brasileiro</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-1">
        <h2>Siga-nos</h2>
        <div class="row">
          <div class="col-lg-6 col-md-12 social">
            <a href="https://pt-br.facebook.com/lemaf.ufla/" target="_blank"><i class="fa fa-facebook face"></i>Facebook</a>
          </div>
          <div class="col-lg-6 col-sm-12 social">
            <a  href="https://pt.linkedin.com/company/lemaf---laborat-rio-de-estudos-e-projetos-em-manejo-florestal" target="_blank"><i class="fa fa-linkedin linkedin"></i>LinkedIn</a>
          </div>
        </div>
      </div>
      <div class="col-lg-12 text-center logo-content">
        <a class=" js-scroll-trigger logo" href="#inicio">LEMAF</a>
      </div>
      <div class="col-lg-12 text-center copy">
        <h4>&copy; 2004<script> document.write(" - " + new Date().getFullYear());
          </script> LEMAF - Laboratório de Estudos em Maneijo Florestal</h4>
      </div>
      <div class="col-lg-12 text-center">
        <h4>Todos os direitos reservados</h4>
      </div>
      <div class="col-lg-12 text-center">
        <h6>Feito com
          <span>♡</span>
          para você!</h6>
      </div>

    </div>
  </div>
</footer>
