<section id="parceiros">
  <div class="container">
    <div class="row ">

      <div class="col-md-8 mx-auto text-center cabecalho">
        <h2 class="section-heading">Parceiros</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
      </div>
            <div class="owl-carousel ">

                        <div >
                            <img class="img-responsive" src="images/geradores-iniciativas/Serviço-Florestal-Brasileiro.png" style="margin-top:30px;" iniciativa="1">
                        </div>

                        <div >
                            <img class="img-responsive" src="images/geradores-iniciativas/KfW-Bankengruppe-Logo.png" iniciativa="2">
                        </div>

                        <div >
                            <img class="img-responsive" src="images/geradores-iniciativas/logo-ufla.png" iniciativa="3">
                        </div>

                        <div >
                            <img class="img-responsive" style="margin-top:12px;" src="images/geradores-iniciativas/GEES-Logo.png" iniciativa="4">
                        </div>

                        <div >
                            <img class="img-responsive" src="images/geradores-iniciativas/GESP-Logo.png" style="margin-top:18px;" iniciativa="5">
                        </div>

                        <div >
                            <img class="img-responsive" src="images/geradores-iniciativas/instituto-socioambiental-Logo.png" iniciativa="6">
                        </div>

                        <div >
                            <img class="img-responsive" src="images/geradores-iniciativas/itaipu2015_logo.png" iniciativa="7">
                        </div>

                        <div >
                            <img class="img-responsive" src="images/geradores-iniciativas/DEFRA-Logo.png" iniciativa="8">
                        </div>

                        <div >
                            <img class="img-responsive" src="images/geradores-iniciativas/Larf-logo.png" iniciativa="9">
                        </div>

                        <div >
                            <img class="img-responsive" src="images/geradores-iniciativas/logo-ana.png" iniciativa="10">
                        </div>

                        <div >
                            <img class="img-responsive" src="images/geradores-iniciativas/logo_cedagro.png" style="margin-top:10px;" iniciativa="11">
                        </div>

                        <div >
                            <img class="img-responsive" src="images/geradores-iniciativas/Logo-Governo-de-Brasilia.png" iniciativa="12">
                        </div>

                        <div >
                            <img class="img-responsive" src="images/geradores-iniciativas/LOGO-INSTITUTO-TERRA.png" iniciativa="13">
                        </div>

                        <div >
                            <img class="img-responsive" src="images/geradores-iniciativas/logo_minasgeraismarca-1.png" iniciativa="14">
                        </div>

                        <div >
                            <img class="img-responsive" src="images/geradores-iniciativas/logo-renova.png" iniciativa="15">
                        </div>

                        <div >
                            <img class="img-responsive" src="images/geradores-iniciativas/FIP-Logo.png" style="margin-top:12px;" iniciativa="16">
                        </div>

                        <div >
                            <img class="img-responsive" src="images/geradores-iniciativas/numa.png" iniciativa="17">
                        </div>

                        <div >
                            <img class="img-responsive" src="images/geradores-iniciativas/BNDS-logo.png" iniciativa="18">
                        </div>

                        <div >
                            <img class="img-responsive" src="images/geradores-iniciativas/sos-mata-atlantica.png" iniciativa="19">
                        </div>

            </div>
    </div>
  </div>
</section>
