<section id="parceiros" role="article">
  <div class="container">
    <div class="row ">

      <div class="col-md-8 mx-auto text-center cabecalho">
        <h2 class="section-heading">Parceiros</h2>
        <hr class="primary">
        <p>Estes são alguns dos nossos principais parceiros e clientes</p>
      </div role="slider">
      <div class="owl-carousel ">
        <div class=""></div>
        <div class="sprite sprite-ibama"></div>
        <div class="sprite sprite-incra"></div>
        <div class="sprite sprite-sfb"></div>
        <div class="sprite sprite-ministerioMeioAmbiente"></div>
        <div class="sprite sprite-governoAcre"></div>
        <div class="sprite sprite-governoEspiritoSanto"></div>
        <div class="sprite sprite-governoMatoGrosso"></div>
        <div class="sprite sprite-governoMinasGerais"></div>
        <div class="sprite sprite-governoParana"></div>
        <div class="sprite sprite-governoDoPara"></div>
        <div class="sprite sprite-governoRioGrandeSul"></div>
        <div class="sprite sprite-gevernoRondonia"></div>
        <div class="sprite sprite-governoTocantins"></div>
        <div class="sprite sprite-iema"></div>
        <div class="sprite sprite-senar"></div>
        <div class="sprite sprite-ief"></div>
        <div class="sprite sprite-igam"></div>
        <div class="sprite sprite-feam"></div>
        <div class="sprite sprite-iap"></div>
        <div class="sprite sprite-programaMunicipiosVerdes"></div>
        <div class="sprite sprite-biodiversitas"></div>
        <div class="sprite sprite-fip"></div>
        <div class="sprite sprite-agenciaRegiaoMetropolitana"></div>
        <div class="sprite sprite-cemig"></div>
        <div class="sprite sprite-prefeituraBeloHorizonte"></div>
        <div class="sprite sprite-adaptworks"></div>
        <div class="sprite sprite-caelum"></div>
        <div class="sprite sprite-daxtra"></div>
        <div class="sprite sprite-gt4w"></div>
        <div class="sprite sprite-google"></div>
        <div class="sprite sprite-imagem"></div>
      </div>
    </div>
  </div>
</section>
