<section class="bg-primary" id="quote">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h4 class=" text-white section-heading">"Nenhum de nós é tão bom, quanto todos nós juntos."</h4>
        <h5 class="author text-right text-white">- Ray Kroc</h5>
      </div>
    </div>
  </div>
</section>
