<section class="bg-primary" id="quem_somos">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Quem somos</h2>
        <hr class="primary">
        {# <div class="row">
          <div class="text-right col-md-6 col-sm-12">
            <p>Predio Lemaf</p>
          </div> #}
          <div class="text-left col-md-12">
            <p class="text-white about">Laboratório de estudos e projetos em manejo florestal - LEMAF, inserido no Departamento de Ciências florestais DCF da Universidade Federal de Lavras - UFLA. Que tem o objetivo de efetuar pesquisa, ensino e extensão relacionado
              ao manejo de floresta nativa e plantada. Conduzindo diversos projetos em parceria e/ou convênio com órgãos estaduais e federais, bem como com a iniciativa privada. Estes estudos subsidiam o crescimento, desenvolvimento e aperfeiçoamento do ensino no
              curso de engenharia florestal, Áreas afins e de forma significativa no setor florestal mundial.</p>
          </div>
        {# </div> #}
      </div>
    </div>
  </div>
</section>
