<section class="bg-primary" id="quem_somos">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Quem somos</h2>
        <hr class="primary">
        {# <div class="row">
        <div class="text-right col-md-6 col-sm-12">
        <p>Predio Lemaf</p>
      </div> #}
      <div class="text-left col-md-12">
        <p class="text-white about">
          Inserido no Departamento de Ciências Florestais (DCF) da Universidade Federal de Lavras (UFLA)
          o Laboratório de Estudos e Projetos em Manejo Florestal (LEMAF), tem como objetivo efetuar pesquisa,
          ensino e extensão. Fundado em 2004, conduz diversos projetos em parceria e convênio com órgãos estaduais
          e federais, bem como a iniciativa privada. Estes estudos subsidiam o crescimento, desenvolvimento e aperfeiçoamento do ensino.
        </p>
      </div>
      {# </div> #}
    </div>
  </div>
</div>
</section>
